secrets/certs/index.txt*
secrets/certs/serial*
secrets/certs/configs/*
!secrets/certs/configs/*.conf.example
secrets/certs/output/*
!secrets/certs/output/.gitkeep

configmaps/*
!configmaps/*.example

minio-01-pod.yaml
