[ req ]
default_bits = 2048
encrypt_key = no
default_md = sha256
prompt = no
utf8 = yes
distinguished_name = my_req_distinguished_name
req_extensions = my_extensions

[ my_req_distinguished_name ]
C = MY
ST = Selangor
L = Kajang
O  = MyOrg
CN = minio-01-pod.elknet

[ my_extensions ]
basicConstraints=CA:FALSE
subjectAltName=@my_subject_alt_names
subjectKeyIdentifier = hash

[ my_subject_alt_names ]
IP.1 = 127.0.0.1
IP.2 = 192.168.1.2
